# Ignore all compiled Python files
__pycache__/

# Ignore all files inside any migrations/ folder
**/migrations/*
# But NOT __init__.py (negate the previous rule)
!**/migrations/__init__.py

# Ignore the virtual environment folder
.venv/

# Ignore static files and cached menu
staticfiles/
menu_cache/
mqtt_buffer/

# Ignore environment variable file
.env
npt.dump
