<!-- core/templates/core/dashboard.html -->
{% extends "core/base.html" %}

{% block content_title %}Dashboard{% endblock %}

{% block content_breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Home Camera</h3>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <img class="img-fluid pad" id="stream" src="https://cam.sazzad.info.bd/mjpeg/1" crossorigin="" alt="Home Video">
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->  
{% endblock %}
