{% extends "core/base.html" %}
{% load custom_filters static custom_tags custom_pagination i18n %}

{% block extra_css %}
    {{  block.super }}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block content_title %}{{ object_verbose_name_plural|capfirst }}{% endblock %}

{% block page_actions %}
    <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
        {% block object-tools %}
            {% block object-tools-items %}
                {% if can_view %}
                    <a class="btn btn-success float-right back-link" href="{% url view_url_name %}"><i class="fas fa-list"></i> View {{ object_verbose_name }}</a>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <!-- Render the filter block -->
            {% render_filter_block model_name=model_name app_name=app_name list_filter=list_filter %}

            {% if object_list %}
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table id="result_list" class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    {% for header in headers %}
                                    <th class="{% header_class header forloop %}" tabindex="0" rowspan="1" colspan="1">
                                        <div class="text">
                                            {% if header.sortable %}
                                                <a href="{{ header.url_primary }}">{{ header.text|humanize_field_name }}</a>
                                            {% else %}
                                                <span>{{ header.text|humanize_field_name }}</span>
                                            {% endif %}
                                            {% if header.sorted %}
                                                <a href="{{ header.url_remove }}">
                                                    <div style="margin-top: .2em;" class="fa fa-times float-right"> </div>
                                                </a>
                                                {% if header.ascending %}
                                                    <i style="margin-top: .2em;" class="fa fa-sort-alpha-down"> </i>
                                                {% else %}
                                                    <i style="margin-top: .2em;" class="fa fa-sort-alpha-up"> </i>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </th>
                                    {% endfor %}
                                    <th>
                                        <div class="text text-center">
                                            <span>Actions</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in object_list %}
                                <tr role="row" class="{% cycle 'even' 'odd' %}">
                                    {% for field, value in obj.fields %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                    <td class="px-1 text-nowrap">
                                        {% if can_restore %}
                                            <a class="btn btn-outline-primary" href="{% url restore_url_name pk=obj.pk %}"><i class="fas fa-trash-restore"></i> Restore</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12">
                <p>No Trashed {{ object_verbose_name_plural }} found.</p>
            </div>
            {% endif %}
            <div class="col-12">
                {% custom_pagination %}
            </div>
        </div>
    </div>
{% endblock %}