{% extends "core/base.html" %}
{% load custom_filters static custom_tags custom_pagination i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
{% endblock %}

{% block content_title %}{{ object_verbose_name_plural|capfirst }}{% endblock %}

{% block page_actions %}
    <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
        {% if can_add and add_url %}
            <a class="btn btn-success float-right" href="{% url add_url_name %}"><i class="fa fa-plus-circle"></i> Add {{ object_verbose_name }}</a>
        {% endif %}
        {% if can_trashed and trashed_url %}
            <a class="btn btn-danger float-right ml-2" href="{% url trashed_url_name %}"><i class="fas fa-trash"></i> Trashed {{ object_verbose_name }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <!-- Render the filter block -->
            {% render_filter_block model_name=model_name app_name=app_name list_filter=list_filter %}
            
            {% if object_list %}
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table id="result_list" class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    {% for header in headers %}
                                    <th class="{% header_class header forloop %}" tabindex="0" rowspan="1" colspan="1">
                                        <div class="text">
                                            {% if header.sortable %}
                                                <a href="{{ header.url_primary }}">{{ header.text|humanize_field_name }}</a>
                                            {% else %}
                                                <span>{{ header.text|humanize_field_name }}</span>
                                            {% endif %}
                                            {% if header.sorted %}
                                                <a href="{{ header.url_remove }}">
                                                    <div style="margin-top: .2em;" class="fa fa-times float-right"> </div>
                                                </a>
                                                {% if header.ascending %}
                                                    <i style="margin-top: .2em;" class="fa fa-sort-alpha-down"> </i>
                                                {% else %}
                                                    <i style="margin-top: .2em;" class="fa fa-sort-alpha-up"> </i>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </th>
                                    {% endfor %}

                                    {% calculate_colspan can_change can_delete can_detailview change_url delete_url detail_url as colspan %}
                                    {% if colspan > 0 %}
                                    <th colspan="{{ colspan }}">
                                        <div class="text text-center">
                                            <span>Actions</span>
                                        </div>
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in object_list %}
                                <tr role="row" class="{% cycle 'even' 'odd' %}">
                                    {% for field, value in obj.fields %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                    {% if can_change and change_url %}
                                    <td class="px-1 text-nowrap">
                                        <a class="btn btn-outline-primary" href="{% url change_url_name pk=obj.pk %}"><i class="fas fa-pen"></i> Edit</a>
                                    </td>
                                    {% endif %}
                                    {% if can_delete and delete_url %}
                                    <td class="px-0 text-nowrap">
                                        <a class="btn btn-outline-danger" href="{% url delete_url_name pk=obj.pk %}"><i class="fas fa-trash"></i> Delete</a>
                                    </td>
                                    {% endif %}
                                    {% if can_detailview and detail_url %}
                                    <td class="px-1 text-nowrap">
                                        <a class="btn btn-outline-info" href="{% url detail_url_name pk=obj.pk %}"><i class="fas fa-eye"></i> View</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12">
                <p>No {{ object_verbose_name_plural }} found. Create one now?</p>
            </div>
            {% endif %}
            <div class="col-12">
                {% custom_pagination %}
            </div>
        </div>
    </div>
{% endblock %}