{% extends "core/base.html" %}
{% load crispy_forms_tags static jazzmin i18n %}

{% block extra_css %}
    {{  block.super }}
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock %}

{% block content_title %}
    {% if form.instance.pk %}
        Edit {{ model_name }}
    {% else %}
        Add {{ model_name }}
    {% endif %}
{% endblock %}

{% block page_actions %}
    <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
        <a class="btn btn-success float-right back-link" href="{% url view_url %}"><i class="fas fa-step-backward"></i> {{ model_name }}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post" {% if has_file_field %}enctype="multipart/form-data"{% endif %} id="{{ model_name|lower }}_form" novalidate>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{  block.super }}
    <script type="text/javascript" src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'adminlte/plugins/select2/js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        // Allow for styling of selects
        $('.select').addClass('form-control').select2({ theme: 'bootstrap4', width: 'element' });
        function wrapAndInit(inputClass, format, iconClass) {
            $(inputClass).each(function () {
                var $input = $(this);
                var id = $input.attr('id');
                if (!id) return;

                // Only wrap if not wrapped
                if (!$input.parent().hasClass('input-group')) {
                    $input.wrap('<div class="input-group date" id="' + id + '_wrapper" data-target-input="nearest"></div>');
                    $input.addClass('datetimepicker-input');
                    $input.attr('data-target', '#' + id + '_wrapper');
                    $input.after('<div class="input-group-append" data-target="#' + id + '_wrapper" data-toggle="datetimepicker"><div class="input-group-text"><i class="' + iconClass + '"></i></div></div>');
                }

                var $wrapper = $input.parent();

                // Initialize if not already
                if (!$wrapper.data('datetimepicker')) {
                    $wrapper.datetimepicker({
                        format: format,
                        allowInputToggle: true, // input click also opens picker
                        icons: {
                            time: 'far fa-clock',
                            date: 'far fa-calendar',
                            up: 'fas fa-arrow-up',
                            down: 'fas fa-arrow-down',
                            previous: 'fas fa-chevron-left',
                            next: 'fas fa-chevron-right',
                            today: 'far fa-calendar-check',
                            clear: 'far fa-trash-alt',
                            close: 'far fa-times-circle'
                        }
                    });
                }
            });
        }

        wrapAndInit('.datepicker', 'YYYY-MM-DD', 'fa fa-calendar');
        wrapAndInit('.timepicker', 'HH:mm:ss', 'fa fa-clock');
        wrapAndInit('.datetimepicker', 'YYYY-MM-DD HH:mm:ss', 'fa fa-calendar-alt');
    });
    </script>
{% endblock %}

