<!-- core/templates/core/dashboard.html -->
{% extends "core/base.html" %}
{% load plotly_dash %}

{% block content_title %}Dashboard{% endblock %}

{% block extrahead %} 
    {{  block.super }}
    {% plotly_header %}
{% endblock %}

{% block content_breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block content %}
<div class="card"      style="background-color: #f4f6f9; border: none; 
            box-shadow: none; 
            ">
    <!-- <div class="card-header"> -->
        <!-- <h3 class="card-title">My Django + Plotly Dash Dashboard</h3> -->
        <!-- /.card-tools -->
    <!-- </div> -->
    <!-- /.card-header -->
    <div class="card-body">
        {% plotly_direct name="MachineDashboard_v2" %}
    </div>
    <!-- /.card-body -->
    <!-- <div class="card-footer"> -->
       <!-- Test Footer -->
    <!-- </div> -->
    <!-- /.card-footer -->
</div>
<!-- /.card -->  
{% endblock %}

 {% block extra_js %}
    {{  block.super }}
    {% plotly_footer %}
{% endblock %}
